# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
xcuserdata/

# SwiftPM
/.build/
Package.resolved

# macOS
.DS_Store

# (Optional) If you want to keep Firebase plist private, uncomment:
# GoogleService-Info.plist
